@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


a {
  text-decoration: none; /* Remove the underline */
  transition: color 0.2s; /* Add a smooth color transition on hover */
}

html { /* We have to insist on a fixed font-size, so as to make sure that there won't be any resizing due to hover effects within the MainPanel */
  font-size: 16px; 
}

section { /* We're going with slightly bigger font for the surrounding sections. */
  font-size: 18px; 
}

p {
    margin-bottom: 12px;
}

li {
    margin-bottom: 8px;
}


.light {
  --foreground-rgb: 30, 41, 59; /* slate-800 */
  --background-start-rgb: 205, 210, 220;
  --background-end-rgb: 235, 240, 250;

  --btnbg: 248, 250, 252; /* slate-50 */
  --btncolor: 71, 85, 105; /* slate-600 */
  --btnborder: 148, 163, 184; /* slate-400 */
  --btnhoverbg: 255, 255, 255; /* white */
  --btnhovercolor: 71, 85, 105; /* slate-600 */
  --btnactivebg: 148, 163, 184; /* slate-400 */
  --btnactivecolor: 71, 85, 105; /* slate-600 */
  --btnfocusring: 148, 163, 184; /* slate-400 */
  --tabselected: 226, 232, 240; /* slate-200 */

  a:not(.pasi a) {
    color: theme('colors.pink.700'); /* Set the color of the link */
  }
  
  a:not(.pasi a):hover {
    color: theme('colors.pink.500'); 
  }
  
}

.dark {
  --foreground-rgb: 177, 162, 158; /* slightly redder than stone-400 */
  --background-start-rgb: 23, 20, 16; /* darker and redder than stone-900 */
  --background-end-rgb: 20, 17, 13; /* slightly darker */

  --btnbg: 76, 64, 60; /* slightly redder than stone-700 */
  --btncolor: 177, 162, 158; /* slightly redder than stone-400 */
  --btnborder: 95, 83, 78; /* slightly redder than stone-600 */
  --btnhoverbg: 190, 93, 9; /* slightly redder and brighter than amber-700 */
  --btnhovercolor: 0, 0, 0; /* black */
  --btnactivebg: 120 53 15; /* amber-800 */
  --btnactivecolor: 0, 0, 0; /* black */
  --btnfocusring: 95, 83, 78; /* slightly redder than stone-600 */
  --tabselected: 33, 25, 23; /* slightly redder than stone-900 */  

  a:not(.pasi a) {
    color: theme('colors.red.700'); /* Set the color of the link */
  }
  
  a:not(.pasi a):hover {
    color: theme('colors.red.500'); /* Set the color of the link */
  }

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  
  body.light .scrollbox {
    scrollbar-color: #bbc5d1 #e0e0e4;
  }

  body.dark .scrollbox {
    scrollbar-color: #68351f #120a09;
  } 
}


/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {

  body.light .scrollbox {
    ::-webkit-scrollbar {
      width: 13px;
      height: 13px;
    }

    ::-webkit-scrollbar-track {
      background: #e0e0e4; 
    }

    ::-webkit-scrollbar-thumb {
      background: #cbd5e1; 
      border-radius: 10px;
      border: 1px solid #c0cad8; 
    }

    ::-webkit-scrollbar-thumb:horizontal:hover {
      background: #c0cad8; 
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-corner {
      background: #e0e0e0; 
    }
  }

  body.dark .scrollbox {
    ::-webkit-scrollbar {
      width: 13px;
      height: 13px;
    }

    ::-webkit-scrollbar-track {
      background: #120a09
    }

    ::-webkit-scrollbar-thumb {
      background: #68351f; 
      border-radius: 10px;
      border: 1px solid #523009; 
    }
    
    ::-webkit-scrollbar-thumb:horizontal:hover {
      background: #88551f; 
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-corner {
      background: #0c0a09; 
    }
  }
}
